PORT=4000
BROKER=rabbitmq
RABBITMQ_URL=amqp://localhost
KAFKA_BROKERS=localhost:9092
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=change-this-refresh-secret
REFRESH_TOKEN_EXPIRES_IN=7d
